@import "../../../../variables"

.AnswerBlock
  display: flex
  @include flexAlignment(flex-start, flex-start, center)

  height: 4rem
  width: 48%
  padding: 0 2rem

  position: relative

  font-size: 1rem

  background: #fff
  border: 1px solid rgba(0, 0, 0, 0.1)
  border-radius: 35px

  cursor: pointer
  font-family: $gilroyLight
  font-weight: 600
  &:nth-child(3), &:nth-child(4)
    margin-bottom: 0
  //.InputBlock
  //  width: 3rem
  //input
  //  width: 0
  //  height: 0
  //  &:after, &:checked:after
  //    position: absolute
  //    top: 50%
  //    transform: translate(50%, -50%)
  //    width: 1.5rem
  //    height: 1.5rem
  //    border-radius: 100px
  //    content: ''
  //    display: inline-block
  //    visibility: visible
  //  &:after
  //    border: 1px solid #979797


.CorrectAnswer
  outline: 3px solid #1ea55b

.WrongAnswer
  outline: 3px solid #dc0a0a

.DisabledAnswer
  pointer-events: none

@media (max-width: $lg)
  .AnswerBlock
    @include flexAlignment(flex-start, center, center)

    padding: 0 1rem

    border-radius: 20px

    text-align: center

@media (max-width: $md)
  .AnswerBlock
    width: 100%
    padding: 0 1rem
    border-radius: 20px
