

.answer-letter {
  font-size: 30px;
  background-color: #0084da;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text {

}

.score {
  background: #fff;
  color: #000;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

