@import "../../../variables"

.Block, .InactiveBg
  @include flex(column, 0)
  height: auto

.ActiveBg
  background: url("../../../assets/backgrounds/header_bg.webp") no-repeat center
  background-size: cover
  height: 100vh

.Bg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  object-fit: cover
  z-index: 0

@media (max-width: $xl)
  .TextBlock
    top: 55%
    width: 40%
    left: 25%


@media (max-width: $lg)
  .Block
    background-position: right