@import "../../../variables"

.Block
  @include flex(row, 0)
  @include flexAlignment(flex-start, space-between, center)

  width: 100%
  padding: 1rem 0
  margin: 0

  color: black
  .FirstColumn, .SecondColumn, .ThirdColumn
    margin: 0 auto
  .SecondColumn
    @include flex(row, 4rem)
  .ThirdColumn
    @include flex(row, 1rem)
    @include flexAlignment(flex-start, center, center)
    &:hover
      cursor: pointer
  a
    display: flex
    @include flexAlignment(center, center, center)
    text-align: center

.ModalContainer
  display: block
  margin: 4rem auto 0
  width: 25rem
  outline: none
  overflow: scroll
  &::-webkit-scrollbar
    display: none


@media (max-width: $xl)
  .Block
    .SecondColumn
      @include flex(row, 1.5rem)
    .ThirdColumn
      @include flex(row, 1rem)

@media (max-width: $md)
  .Block
    div
      img
        width: 18px!important
    .FirstColumn
      img
        width: 50px!important
  .ModalContainer
    width: 19rem

@media (max-width: $sm)
  .Block
    .FirstColumn
        display: none
    .SecondColumn
        @include flex(row, 0.8rem)
    .ThirdColumn
        @include flex(row, 0.5rem)

.ActiveLink
  color: $primary

.InActiveLink
  color: white

.ActiveBg
  background: linear-gradient(268.55deg, #6A5FEA 17.32%, #B471E8 86.43%)

.InActiveBg
  background: transparent


